<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blog.mapper.OperationLogMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into operation_log (
            module,
            operation,
            request_method,
            request_uri,
            operator_id,
            operator_name,
            ip,
            params,
            success,
            error_message
        ) values (
            #{module},
            #{operation},
            #{requestMethod},
            #{requestUri},
            #{operatorId},
            #{operatorName},
            #{ip},
            #{params},
            #{success},
            #{errorMessage}
        )
    </insert>
</mapper>
